/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.cwp-giveaway {
	border: 1px solid #333;
	border-radius: 10px;
	padding: 10px 15px;

	.wp-block-image {
		width: 100%
	}

	.wp-block-button__link {
		font-size: inherit
	}

	&-title {
		margin: 0 0 20px
	}

	&-desc {
		margin: 0
	}
}
